<div>
    <style>
        li {
            margin-bottom: 1em;
        }
    </style>
    <section>
        <h1>{{name}}</h1>
        <h2>Users</h2>
        {{#each users}}
        <div>
            {{>name isUser=true}}
            {{>friend}}
            {{>group}}
        </div>
        <hr>
        <br>
        {{/each}}
    </section>

</div>
