{{>shopheader}}
<main>
    <section>
        {{#with newsBlock}}
        <h2 class="text-center mb-4">{{title}}</h2>
        <div class="row gx-2 gy-3">
            {{#each cards}}
                {{>shoppost}}
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr class="my-5">
    <section>
        {{#with goodsBlock}}
        <nav class="mb-5">
            <ul class="nav nav-tabs">
                {{#each tabs}}
                <li class="nav-item">
                    {{>nav-link active=isActive disabled=isDisabled text=text}}
                </li>
                {{/each}}
            </ul>
        </nav>
        <div class="row gx-2 gy-4">
            {{#each cards}}
                {{>shopcard}}
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr class="my-5">
    <section class="card text-bg-dark">
        {{#with subscribe}}
        <nav class="navbar card-body">
            <div>
                <h2>{{header}}</h2>
                <p>{{description}}</p>
            </div>
            <div class="d-flex">
                {{#each buttons}}
                    {{>bs-btn isLink=true btn-type='btn-primary mx-1' href=link text=text}}
                {{/each}}
            </div>
        </nav>
        {{/with}}
    </section>
    {{>shopaction}}
</main>
{{>shopfooter}}