<div>
    {{#with main.skills}}
        <section>
            {{>title data=title big=true}}
            <div class="row g-3 mb-3">
                {{#each list}}
                 <div class="col-3">
                    <div class="card p-1 text-center">
                    {{name}}
                    {{#if point includeZero=true}}
                        {{point}}
                    {{/if}}
                    {{#if isTop}}
                        🔥
                    {{/if}}
                    {{#unless point includeZero=true}}
                        (не вивчаємо)
                    {{/unless}}
                    {{#unless point}}
                        {{#if point includeZero=true}}
                            (в процесі)
                        {{/if}}
                    {{/unless}}
                    </div>
                 </div>
                 {{/each}}
            </div>
    {{/with}}
    {{#with main.hobbies}}
        {{>title data=title big=false}}
            <div class="row g-3 mb-3">
                {{#each list}}
                    <div class="col-3">
                        <div class="card p-1 text-center">
                        {{name}}
                        {{#if isMain}}
                            (favourite)
                        {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
    {{/with}}
</div>
