<section>
    <div class="row">
        {{#with main.summary}}
        <div class="col-6">   
            {{>title data=title big=true}}
            <p>
                {{text}}
            </p>
        </div>
        {{/with}}
        {{#with main.experience}}
            <div class="col-6">   
                {{>title data=title big=false}}
                <p>
                    {{text}}
                </p>
            </div>
        {{/with}}
    </div>
</section>
