{{#if hot}}
<span class="badge text-bg-warning text-light {{#if isRound}} rounded-pill{{/if}}">{{name}}</span>
{{/if}}
{{#if new}}
<span class="badge text-bg-primary {{#if isRound}} rounded-pill{{/if}}">{{name}}</span>
{{/if}}
{{#if bonus}}
<span class="badge text-bg-info text-light {{#if isRound}} rounded-pill{{/if}}">{{name}}</span>
{{/if}}