{{#if top}}
<span class="badge text-bg-success {{#if isRound}} rounded-pill{{/if}}">Top</span>
{{/if}}
{{#if new}}
<span class="badge text-bg-danger {{#if isRound}} rounded-pill{{/if}}">New</span>
{{/if}}
{{#if hot}}
<span class="badge text-bg-warning text-uppercase text-light {{#if isRound}} rounded-pill{{/if}}">Hot!</span>
{{/if}}