{{#if warning}}
<button class="btn btn-warning text-light">{{text}}</button>
{{/if}}
{{#if error}}
<button class="btn btn-outline-danger">{{text}}</button>
{{/if}}
{{#if success}}
<button class="btn btn-success text-light">{{text}}</button>
{{/if}}
{{#if good}}
<button class="btn btn-outline-success">{{text}}</button>
{{/if}}