{{#if isLink}}
    <a href="{{href}}" class="btn {{>bs-btnClass}}" {{#if blank}} target="_blank"{{/if}}>{{text}}</a>
{{else}}
    <button class="btn {{>bs-btnClass}} {{#if isRow}}mb-2 d-block{{/if}}">{{text}}</button>
{{/if}}


