<label class="form-label">{{label}}</label>
<input class="form-control {{#if isBig}}form-control-lg{{else if isSmall}}form-control-sm{{/if}}" type="text" placeholder="{{placeholder}}">
<p class="form-text">{{caption}}</p>