{{#if isSwitch}}
<div class="form-switch">
    <input class="form-check-input" type="checkbox" {{#if isActive}}checked{{/if}}>
    <label class="form-check-label">{{text}}</label>
</div>
{{else}}
<div>
    <input class="form-check-input" type="checkbox" {{#if isActive}}checked{{/if}}>
    <label class="form-check-label">{{text}}</label>
</div>
{{/if}}