 <hr class="my-5">
 <footer>
    {{#with footer}}
        <div class="row g-4">
            {{#each this}}
            <div class="col-2 nav flex-column">
                {{#each this}}
                <div class="nav-item">
                    {{>nav-link href=link text=text}}
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    {{/with}}
</footer>