<div class="col-4">
    <div class="card">
        <img src="{{image}}" alt="{{title}}" class="card-img-top">
        <div class="card-body">
            <div class="card-title">{{title}} {{>badge hot=isHot isRound=true}} {{>badge new=isNew isRound=true}}</div>
            <p>{{description}}</p>
        </div>
    </div>
</div>