<div class="col-3">
    <div class="card text-bg-dark">
        <div class="card-header">
            {{title}} {{>badge top=isTop isRound=true}} {{>badge new=isNew isRound=true}}
        </div>
        <div class="card-body">
            {{description}}
        </div>
    </div>
</div>