<!DOCTYPE html>
<html>

  <head>
    <title>
      Resume | {{title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>
    {{>nav}}
    <br>
    <hr>
    <main>
      {{{body}}}
    </main>

    {{>footer}}
  </body>
</html>